@import "../node_modules/bootstrap/scss/bootstrap";
@import "Variable";
@import "Header";
@import "AsideTop";
@import "NavBar";
@import "FeatureBanner";
@import "Footer";
@import "Functions";
@import "RecentlyView";
@import "MainSection";
@import "MiddleElectric";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
#set{
    width: 1150px;
    position: absolute;
    left: 0%;
    right: 0%;
    transform: translate(-35%);
}
#set-2{
    width: 550px;
}
.c-col{
    color: $golden;
}
.cent{
    word-spacing: 4px;
}
#quick{
    position: absolute;
    bottom:15px;
}   
.hei{
    height: 260px;
}
.hei-2{
    height:300px;
    width: 300px;
}